/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
/* Help Center Blue Theme */
:root {
    --ifm-color-primary: #2e69ff;
    --ifm-color-primary-dark: #1a5cff;
    --ifm-color-primary-darker: #0f55fa;
    --ifm-color-primary-darkest: #0047d6;
    --ifm-color-primary-light: #5283ff;
    --ifm-color-primary-lighter: #6390ff;
    --ifm-color-primary-lightest: #96b5ff;
    --ifm-code-font-size: 95%;
    --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
    --ifm-color-primary: #4d82ff;
    --ifm-color-primary-dark: #3672ff;
    --ifm-color-primary-darker: #2b6aff;
    --ifm-color-primary-darkest: #0a52ff;
    --ifm-color-primary-light: #7098ff;
    --ifm-color-primary-lighter: #82a3ff;
    --ifm-color-primary-lightest: #bad0ff;
    --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
